<div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">
          <%= @friend.first_name %>
          <%= @friend.last_name %></h1>
        <p class="col-md-8 fs-4">
          <%= @friend.phone %> |
          <%= @friend.email %> |
          <%= @friend.twitter %>
        </p>
        <button class="btn " type="button">
          <%= link_to "Edit", edit_friend_path(@friend), class:"btn btn-secondary" %> 
          <%= link_to "Back", friends_path, class:"btn btn-dark" %>
          <%= button_to "Remove friend", @friend, method: :delete, class:"btn btn-outline-danger" %>
        </button>
      </div>
